@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFAA;
}

#why {
    background-color: #fff;
    padding: 15px;
    border-radius: 25px;
    width: 500px;   
    position: relative;
    left: 60%;
}

#why img {
    width: 500px;
}

#comunidade {
    background-color: #fff;
    padding: 15px;
    border-radius: 25px;
    width: 500px;   
    height: 920px;
    position: relative;
    bottom: 950px;
    left: 5%;
}

#comunidade img {
    width: 450px;
    height: 450px;
}
