@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFAA;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

h1 {
    background-image: linear-gradient(#8AA236, #AA9139);
    padding: 15px;
    border-radius: 25px;
    color: #fff;
    display: block;
    margin: auto;
    text-align: center;
}

article, footer {
    background-image: linear-gradient(#8AA236, #AA9139);
    padding: 20px;
    border-radius: 30px;
    margin-top: 10px;
    color: #fff;
}

footer {
    text-align: center;
    font-size: 25pt;
}


img {
    border-radius: 20px;
    width: 250px;
}

abbr {
    color: #fff;
    text-decoration: none;
}



