@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

article {
  margin-top: 10px;
  padding: 10px;
  border-radius: 15px;
  background-color: #8B8A8A;
}

img {
  display: block;
  width: 10vw;
  filter: grayscale(50%);
}

.btn {
  display: block;
  margin-top: 5px;
  width: 25vw;
  background-color: #555555;
  color: #fff;
  font-size: 15pt;
  font-family: Arial, Helvetica, sans-serif;
}

label {
  font-size: 15pt;
}

#add {
  font-size: 150pt;
  background-color: #8B8A8A;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}

#logo {
  width: 50px;
  filter: grayscale(80%);
}

p {
  font-size: 15pt;
}

.exclude {
  text-decoration: line-through;
}