<html>
    <head>
        <meta charset="UTF-8">
        <title>Sobre Nós</title>
    </head>

    <body>
        <h1>Sobre Nós</h1>

        <br><br>

        <main>
            <p>
            Somos estudantes do curso de Desenvolvimento de Sistemas na Instituição Proz Educação,<br>
            localizada em Belo Horizonte, Minas Gerais. <br>
            Nosso site tem como foco principal compra e venda de moedas.
            
            </p>
        </main>

        <br><br>

        <footer>
            <p>&copy; 2023 Cripto Store</p>
        </footer>
    </body>
</html>