<html>
    <head>
        <title>Formulário de cadastro</title>
    </head>

    <body>
        <form action="" method="get">

            <label for="nome_Completo">Nome Completo: </label>
            <input name= "nome_Completo" type="text" required>

            <br><br>

            <label for="cpf">CPF: </label>
            <input name="cpf" type="text" required>

            <br><br>

            <label for="email">E-Mail</label>
            <input name="email" type="email" required>

            <br><br>

            <label for="cep">CEP: </label>
            <input name="cep" type="text" required>

            <br><br>

            <label for="numero">Número: </label>
            <input name="numero" type="text">


            <br><br>

            <label for="data_Nascimento">Data de Nascimento: </label>
            <input name="data_Nascimento" type="date" required>

            <br><br>

            <label for="celular">Celular: </label>
            <input name="celular" type="tel" placeholder="(99)99999-9999">

            <br><br>

            <label for="est_Civil">Est.Civil: </label>
            <select name="est_Civil">
                <option value="Solteiro">Solteiro</option>
                <option value="Casado">Casado</option>
                <option value="Divorciado">Divorciado</option>
            </select>
            
            <br><br>

            <label for="login">Login</label>
            <input name="login" type="text" required>

            <label for="senha">Senha</label>
            <input name="senha" type="password" required>

            <br><br>

            <input name="btnSubmeter" type="submit" value="Confirmar">

        </form>
    </body>
</html>