* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header {
    background-color: #cecece;
    width: 100vw;
    padding: 5px;
    text-align: center;
    border-radius: 15px;
}

img {
    width: 50%;
}

.infoBox {
    border: 1px solid #000;
    margin-top: 10px;
    padding: 10px;
    border-radius: 15px;
}

.btn {
    margin-top: 10px;
}